<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="uk">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Add Event</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<th:block th:include="/navbar">nav</th:block>
<div class="container-fluid">
    <div th:if="${message}">
        <h2 th:text="${message}"></h2>
    </div>

    <h3>Add event</h3>
    <p></p>

    <form action="#" method="post" th:action="@{/add_event}" th:object="${event}" enctype="multipart/form-data">
        <div class="form-row">
            <div class="col-md-2 mb-3">
                <label for="validationTitle">Title</label>
                <input type="text" class="form-control" id="validationTitle" name="title" th:field="*{title}"
                       placeholder="Input title event"
                       value="Qwerty"
                       required><br>
            </div>
            <div class="form-group col-md-1">
                <label for="inputType">Type</label>
                <select id="inputType" class="form-control" name="type" th:field="*{type}">
                    <option selected th:value="Racing" th:text="Racing"></option>
                    <option th:value="Brevet" th:text="Brevet"></option>
                </select>
            </div>
        </div>
        <div class="col-md-2 mb-3">
            <label for="validationDistance">Distance, km</label>
            <input type="text" class="form-control" id="validationDistance" name="title" th:field="*{distance}"
                   placeholder="Input title event"
                   value="Qwerty"
                   required><br>
        </div>
        <div class="form-group">
            <label for="textEvent">Text event</label>
            <textarea class="form-control" id="textEvent" name="content" th:field="*{content}" rows="6" cols="50"
                      required></textarea>
        </div>

        <div class="col-md-2 mb-3">
            <label for="timeStart"> Start date event: </label>
            <input type="datetime-local" id="timeStart" name="timeStart" value="2019-08-28T13:01"
                   th:field="*{timeStart}"/>
        </div>

        <div class="col-md-2 mb-3">
            <label for="timeLimit"> Time limit: </label>
            <input type="time" id="timeLimit" name="timeLimit" value="13:00" th:field="*{timeLimit}"/>
        </div>
        <br>
            <input type="file" name="file" /><br/><br/>
        <br>
        <button class="btn btn-primary" type="submit">Add</button>
        <br>
        <br>
    </form>
</div>
</body>
</html>