<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Registration page</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>
<body>
<th:block th:include="/navbar">nav</th:block>
<div class="container">
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Registration</h4>
            <p class="text-center">Create account for registration in events</p>
            <form action="#" method="post"
                  th:action="@{/registration}" th:object="${registrationForm}">

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="Username" type="text" th:field="*{username}">
                </div> <!-- form-group// -->
                <p th:if="${#fields.hasErrors('username')}" class="error" style="color:red"
                   th:errors="*{username}"></p>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="First name" type="text"
                           th:field="*{firstName}">
                </div> <!-- form-group// -->

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="Last name" type="text"
                           th:field="*{lastName}">
                </div> <!-- form-group// -->

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" placeholder="Create password" type="password"
                           th:field="*{password}">
                </div> <!-- form-group// -->
                <p th:if="${#fields.hasErrors('password')}" class="error" style="color:red"
                   th:errors="*{password}"></p>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" placeholder="Repeat password" type="password"
                           th:field="*{passwordConfirm}">
                </div> <!-- form-group// -->
                <p th:if="${#fields.hasErrors('passwordConfirm')}" class="error" style="color:red"
                   th:errors="*{passwordConfirm}"></p>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Create Account</button>
                </div> <!-- form-group// -->
                <p class="text-center">Have an account? <a href="/login">Log In</a></p>
            </form>
        </article>
    </div> <!-- card.// -->
</div>
</body>
</html>





